{% extends "master.html" %}
{% load static %}
{% block title %}Login - ParkIT{% endblock %}
{% block content %}
<header>
    <h1>ENTRY</h1>
    <p style="text-align:center;">Login to reserve 🅿️</p>
</header>
<div style="display: flex;
justify-content: center;
align-items: center;
min-height: 60vh;
background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGd5bnZuMGVnczZ6N2d1YTZmcnd4bGp5d2V1aDJqcmQ0c2R0bjZ5OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QZgjfCcLmR8BqvrFTr/giphy.gif');
color: #f0f0f0;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: overlay;">
    <div class="login-container">
        <h2 style="text-align:center;">ParkIT Login</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="message {{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <!-- Username -->
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <!-- Password -->
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <!-- Submit Button -->
            <button type="submit" class="login-btn">Login</button><br><br>

            <!-- Link to Register -->
            <p class="signup-link">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>

        </form>
    </div>
</div>

{% endblock %}
